<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">
    <title>MercadoLiebre</title>
</head>

<body>

    <header>
        <img src="imagenes/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" id="logo">
        <div>
            <input type="text" name="busqueda">
            <i class="fas fa-search"></i>
        </div>
        <br>
        <div class="compraTexto">
            <i class="fas fa-shopping-cart"></i>

            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <i class="fas fa-sign-in"></i>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficailes</a> </li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li id="creaTuCuenta"><a href="#">Creá tu cuenta</a><i class="fas fa-address-card"></i></li>

                <li id="ingresa"><a href="#">Ingresá</a><i class="fas fa-shopping-cart"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main id="importante">
        <img src="imagenes/img-home-banner.jpg" alt="Banner" id="banner">
        <section id="ultimasVistas">
            <h2 class="titulos">Basado en tu última visita</h2>
            <div class="cajaProducto">
                <img src="imagenes/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="DetalleProductos">
                    <i class="fas fa-shipping-fast"></i>
                    <p class="" precios>$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <span>Cafetera Moulinex</span></div>
            </div>
            <div class="cajaProducto">
                <img src="imagenes/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019 ">
                <div class="DetalleProductos">
                    <i class="fas fa-shipping-fast"></i>
                    <p class="" precios>$230.000</p>
                    <p class="descuentos">20% off </p>
                    <span>  MacBook Pro 2019</span></div>
            </div>
            <div class="cajaProducto">
                <img src="imagenes/img-samsung-galaxy-s10.jpg " alt="Samsung Galaxy S10">
                <div class="DetalleProductos">
                    <i class="fas fa-shipping-fast"></i>
                    <p class="" precios>$70.500</p>
                    <p class="descuentos">10% off </p>
                    <span>Samsung Galaxy S10</span></div>
            </div>
            <div class="cajaProducto">
                <img src="imagenes/img-tv-samsung-smart.jpg " alt="SmartTv Samsung 43 ">
                <div class="DetalleProductos">
                    <i class="fas fa-shipping-fast"></i>
                    <p class="" precios>$23.200</p>
                    <p class="descuentos">5% off</p>
                    <span>SmartTv Samsung 43</span></div>
            </div>
        </section>
        <section id="ofertas">
            <h2 class="titulos">Ofertas</h2>
            <div class="cajaProducto">
                <img src="imagenes/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="DetalleProductos">
                    <p class="" precios>$6.770</p>
                    <i class="fas fa-shipping-fast"></i>
                    <p class="descuentos">40% OFF</p>
                    <span>Cafetera Moulinex</span></div>
            </div>
            <div class="cajaProducto">
                <img src="imagenes/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019 ">
                <div class="DetalleProductos">
                    <p class="" precios>$230.000</p>
                    <i class="fas fa-shipping-fast"></i>
                    <p class="descuentos">20% off </p>
                    <span>  MacBook Pro 2019</span></div>
            </div>
            <div class="cajaProducto">
                <img src="imagenes/img-samsung-galaxy-s10.jpg " alt=" Samsung Galaxy S10">
                <div class="DetalleProductos">
                    <p class="" precios>$70.500</p>
                    <i class="fas fa-shipping-fast"></i>
                    <p class="descuentos">10% off </p>
                    <span>Samsung Galaxy S10</span></div>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <div>
                <i class="far fa-credit-card iconoFooter "></i>
            </div>
            <span>Pagá con tarjeta o en efectivo</span>
            <p class="descripciones"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <div>
                <i class="fas fa-gift iconoFooter"></i>
            </div>
            <span>Envío gratis desde $ 2.500</span>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <div>
                <i class="fas fa-user-shield iconoFooter"></i>
            </div>
            <span>Seguridad, de principio a fin </span>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

</body>

</html>