<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">
    <title>MercadoLiebre</title>
</head>

<body>

    <header>
        <div class="contenedorLogoBuscador">
            <img src="imagenes/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" id="logo" href="/">

            <div class="buscador">
                <input type="text" name="busqueda" id="buscador">
                <i class="fas fa-search"></i>
            </div>

            <div class="compraTexto">
                <i class="fas fa-shopping-cart"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav>
            <ul class="barraTienda">
                <i class="fas fa-sign-in"></i>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a> </li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="barraCuenta">
                <li id="creaTuCuenta"><a href="/register">Creá tu cuenta</a><i class="fas fa-address-card"></i></li>

                <li id="ingresa"><a href="/login">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>


    <form action="/" method="get" class="formRegistro">
        <div class="datosPersonalesRegistro">
            <input type="text" id="name" name="name" required minlength="3" maxlength="30" placeholder="Nombre y Apellido">
            <input type="text" id="user" name="user" required minlength="4" maxlength="10" placeholder="Nombre de Usuario">
            <input type="text" id="email" name="email" required minlength="4" maxlength="10" placeholder="Email">

            <label for="fecha">Fecha de Nacimiento</label>
            <input type="date" id="fecha" name="fecha" required>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio">
        </div>

        <div class="perfilDeUsuario">
            <label for="perfilUser" class="userPerfilLabel">Perfil de Usuario</label>
            <label for="veendedor">vendedor</label>
            <input type="radio" id="vendedor" name="perfilUser" value="vendedor">
            <label for="comprador">comprador</label>
            <input type="radio" id="comprador" name="perfilUser" value="comprador">
        </div>
        <div class="categorias">

            <label for="categoria" class="categoriasLabel">Categorías</label>

            <div class="categoriasCheck">
                <label for="electro">Electro</label>
                <input type="checkbox" name="categoria" value="Electro">
            </div>

            <div class="categoriasCheck">
                <label for="moda">Moda</label>
                <input type="checkbox" name="categoria" value="Moda">
            </div>

            <div class="categoriasCheck">
                <label for="hogar">Hogar</label>
                <input type="checkbox" name="categoria" value="Hogar">
            </div>

            <div class="categoriasCheck">
                <label for="jugueteria">Jugetería Jugetería</label>
                <input type="checkbox" name="categoria" value="Jugetería">
            </div>

            <div class="categoriasCheck">
                <label for="vidaSana">vida Sana</label>
                <input type="checkbox" name="categoria" value="Vida Sana">
            </div>


        </div>
        <div class="fotoUser">
            <label for="picUser">Foto de Usuario</label>
            <input type="file" name="avatar" accept=".jpg" multiple>
        </div>
        <div class="contraseña">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required minlength="6" maxlength="10">
        </div>
        <div class="botonesDeResetEnvio">
            <button type="reset">CANCELAR</button>
            <button type="submit">ENVIAR</button>

        </div>



    </form>



    <footer>
        <section>
            <div>
                <div>
                    <i class="far fa-credit-card iconoFooter "></i>
                </div>
                <p>Pagá con tarjeta o en efectivo</p>
                <p class="descripciones "> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>

                <div>
                    <i class="fas fa-gift iconoFooter "></i>
                </div>
                <p>Envío gratis desde $ 2.500</p>
                <p class="descripciones ">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <div>
                    <i class="fas fa-user-shield iconoFooter "></i>
                </div>
                <p>Seguridad, de principio a fin </p>
                <p class="descripciones ">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

            </div>
        </section>
        <div>
            <p class="copyRight ">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>





</body>

</html>